* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    max-width: 140rem;
    height: 100vh;
    background: #e6fcf5;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30rem 50rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

*:focus {
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 0.6rem rgba(12, 167, 121, 0.219);
    background-color: #fff;
}
