* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: #e6fcf5; 

    display: grid;
    grid-template-columns: 35rem 1fr;
    grid-template-rows: 1fr;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
