.list-container {
    /* border: 1px solid; */

    grid-row: 0 / -1;
    height: 100vh;
    /* overflow-y: scroll; */

    display: flex;
    flex-direction: column;
}

.list-options {
    padding:  1rem 2rem;
    font-size: 1.2rem;
    background-color: #99e9f2;

    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    gap: 1rem;
}

.list {
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: space-between;
}

.list ion-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #1098ad;
    cursor: pointer;
    transition: all 0.3s;
}

.list ion-icon:hover {
    transform: scale(1.2);
}

.list img {
    width: 4.2rem;
}

.list span {
    font-size: 1.2rem;
}

.list-progress-container {
    grid-column: 2 / -1;
    background-color: #c5f6fa;
    border-radius: 100rem;
    margin-bottom: 0.8rem;
}

.list-progress-bar {
    height: 0.2rem;
    width: var(--len);
    background-color: #15aabf;
    border-radius: 100rem;
}
