/* LIST */

.list-section {
    /* width: fit-content; */
    margin: 2rem auto;
}

.list-title {
    font-size: 1.4rem;
    padding: 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 0.2rem solid #0b7285;
}

.list-title img {
    transform: translateY(15%);
}

.list-options {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
}

.list-options h2 {
    font-size: 1.5rem;
    margin-right: auto;
}

.list-options input {
    margin-left: 0.8rem;
    accent-color: #0b7285;
}

.list-options label {
    margin-left: 0.2rem;
    font-size: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-row {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin-top: 0.2rem;
}

.list-row:hover {
    background-color: #e3fafc;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    /* transform: scale(1.05); */
}

.list-row-selected {
    background-color: #e3fafc;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.list-row img {
    width: 4rem;
}

.list-row span {
    font-size: 1rem;
    width: 3.5rem;
}

.list-progress-container {
    width: 8rem;
    border: 0.1rem solid #1098ad;
    border-radius: 100rem;
    margin-right: 1rem;
}

.list-progress-bar {
    width: var(--progress);
    background-color: #1098ad;
    height: 0.3rem;
    border-radius: 100rem;
}
