/* .circular-progress-container {
    display: inline-block;
    border: 2px solid;
} */

.circular-progress-outer {
    height: 24rem;
    width: 24rem;
    border-radius: 50%;

    background: conic-gradient(#20c997 180deg, #c3fae8 0deg);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.circular-progress-inner {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;

    background-color: #e6fcf5;
    box-shadow: 0 0 2rem inset rgba(0, 0, 0, 0.1);
}

.circular-progress-text {
    font-size: 4.768rem;
    font-weight: 500;
    color: #087f5b;
}

.circular-progress-percent {
    font-size: 2.441rem;
}
