* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 20px 40px;
}

h1 {
    font-size: 28px;
    color: #1098ad;
    background-color: #f7f7f7;
    padding: 10px 0;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 22px;
    color: #1098ad;
    border-bottom: solid;
}

table {
    table-layout: auto;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 18px;
}

th {
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #1098ad13;
}

ul {
    margin-bottom: 20px;
}

li {
    margin: 10px;
    font-size: 20px;
}

.container {
    width: 600px;
    margin: 50px auto;
    /* border: solid; */
}

/* total-progress */
.total-progress {
    text-align: center;
    margin-bottom: 20px;
    border-top: 8px solid #1098ad;
}

.total-progress-value {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.total-progress-bar {
    width: 250px;
    height: 22px;
}

.images-container {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    /* border: solid; */
    align-items: center;
    justify-content: space-around;
}

.image-container {
    width: 150px;
    height: 150px;
    /* border: solid; */
    border-radius: 50%;
}

.material-img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.material-img:hover {
    transform: scale(1.2);
}

.inputs-container {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    /* border: solid; */
    align-items: center;
    justify-content: space-around;
}

.input {
    width: 80px;
    height: 90%;
    font-size: 22px;
    text-align: center;
}

.bars-container {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    /* border: solid; */
    align-items: center;
    justify-content: space-around;
}

.progress-bar {
    width: 150px;
    height: 60%;
}

.table-input {
    width: 60px;
    text-align: center;
    font-size: 18px;
}

.list-icon {
    width: 60px;
    height: auto;
    vertical-align: middle;
}

.list-progress {
    width: 130px;
    height: 15px;
    margin-left: 50px;
    margin-right: 20px;
}

.list-row {
    display: flex;
    font-size: 18px;
    border-radius: 10px;
    transition: transform 0.5s;
    align-items: center;
    justify-content: space-around;
}

.list-row:hover {
    background-color: #1098ad13;
    transform: scale(1.1);
}

.checkboxs-container {
    text-align: right;
    font-size: 15px;
}

.checkbox {
    width: 20px;
    margin: 0 0 20px 10px;
}

nav {
    text-align: right;
}

.button-last-next {
    font-size: 18px;
    border: none;
    margin: 0 15px;
}

.small-icon {
    width: 40px;
    vertical-align: middle;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    padding: 7px 14px;
    border: none;
    border-radius: 8px;
    background-color: #1098ada8;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}
